.User{
    width: 440px;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;

    position: relative;
}

.User__wrapper{
    width: 50px;
    height: 50px;

    border-radius: 50%;
    overflow: hidden;
}

.wrapper__img{
    width: 100%;
    height: 100%;
}

.User__Info{
    width: 240px;
    height: 38px;

    display: flex;
    flex-direction: column;
    gap: 7px;
}

.Info__name{
    font-size: 20px;
    font-weight: bold;
    color: black;
    white-space: nowrap;
}
.Info__username{
    font-size: 17px;
    font-weight: bold;
    color: gray;
}

.Info__username:hover{
    color: rgb(59, 136, 136);
    cursor: pointer;
}

.User__Button{
    width: 30px;
    height: 30px;

    position: absolute;
    right: 0;
    top: 9px;

    border: none;
    border-radius: 12px;

    color: white;
    font-size: 16px;
}