.ButtonContainer{

    margin-top: 20px;

    display: flex;
    flex-direction: row;
    gap: 50px;
}
.ButtonContainer__Button{
    color: white;

    padding: 12px;

    border: none;
    border-radius: 12px;
}