.UserMenu{
    background-color: white;
    box-shadow: 10px 13px 10px 0px rgba(0, 0, 0, 0.3);

    border-radius: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    width: 640px;
    height: 800px;

    padding: 20px 20px;

    overflow: hidden;
}
.UserMenu__Map{

    padding: 20px;
    border-radius: 16px;

    width: 480px;
    height: 600px;

    padding-bottom: 16px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    overflow-x: hidden ;
    overflow-y: auto;

    background-color: #F5F6F7;
}